.menu-div {
    display: flex;
    background-color: #52A7FA;
    color: white;
    justify-content: flex-start;
}

.menu-div h1, h3 {
    margin-right: 30px;
}

.menu-div h1 {
    padding-left: 20px;
}

.menu-div h3 {
    margin-top: 30px;
}